@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';

body{
    color: white;
}

h2 {
    font-size: 2.5rem;
}

// utilities
.align-center{
    align-self: center;
}
