.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.mainImage {
    width: 100%;
    max-width: 800px;
    margin: 16px auto;
    margin-bottom: 32px;
}

.link {
    text-align: center;
    .a{
        text-decoration: underline;
    }
}