.componentFlex {
	width: 100vw;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.componentBlock {
	width: 100vw;
	min-height: 100vh;
	z-index: 0;
}

.colorInverse {
	filter: hue-rotate(180deg);
}

.colorRotate {
	filter: hue-rotate(90deg);
}

.colorRotate2 {
	filter: hue-rotate(220deg);
}

