.iframeContainer {
    margin: 1rem;
    max-width: 840px;
    max-height: 472px;
    position: relative;
    align-self: center;
	overflow: hidden;
	width: 95%;
	padding-top: 56.25%;
}

.iframeResponsive {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
    height: 100%;
    max-width: 840px;
    max-height: 472px;
}
