.introSection {
	background: rgb(145, 168, 182) ;
	background: linear-gradient(0deg, rgb(145, 168, 182) 50%, rgb(172, 196, 196) 50%);
	width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bioSection {
	background: rgb(145, 168, 182);
	background: linear-gradient(0deg, rgb(172, 196, 196) 50%, rgb(145, 168, 182) 50%);
	color: black;
	text-shadow: none;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 0;
}

.projectsSection {
	background-color: rgb(172, 196, 196);
	background: linear-gradient(0deg, rgb(172, 196, 196) 50%, rgb(172, 196, 196) 50%);
	
	width: 100vw;
	min-height: 100vh;
	z-index: 0;
}

.contactSection {
	background: rgb(145, 168, 182);
	background: linear-gradient(0deg, rgb(145, 168, 182) 50%, rgb(145, 168, 182) 50%);
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 0;
}

.titleWrapper {
	padding-bottom: 16px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.title {
	opacity: 0;
	margin: 0 auto;
	padding: 0;
	// padding-top: 10%;
	font-size: 3.5rem;
	letter-spacing: 0.35rem;
}

.subTitle {
	opacity: 0;
	margin: 0 auto;
}

.iframeContainer {
	margin: 1rem;
	max-width: 840px;
	max-height: 472px;
	position: relative;
	overflow: hidden;
	width: 95%;
	flex-shrink: 0;
	padding-top: 56.25%;
}

.iframeResponsive {
	// border: 3px solid white;
	opacity: 0;
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	max-width: 840px;
	max-height: 472px;
}

.iframeDesktop {
	display: none;
}

.iframeFullSize {
	// border: 3px solid white;
	opacity: 0;
	border: none;
	border-radius: 10px;
}

.show{
	opacity: 1;
	animation: reveal 3s ease-in-out forwards;
}

@keyframes reveal {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.seeMoreWrapper {
	margin: 24px auto;
	// margin-top: 24px;
	padding-top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 500;
	cursor: pointer;
	font-size: 1.3rem;
	width: 100%;
}

.info {
	letter-spacing: 0.35rem;
	margin-bottom: 0.5rem;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.413);
}

.infoIcon {
	font-size: clamp(36px, 5vw, 56px);
	opacity: 0;
	animation: slideDown 1.5s ease-in-out 2s infinite normal none;
}

@keyframes slideDown{
	from{
		opacity: 0;
		transform: translate(0, 0px);
	}
	to{
		opacity: 1;
		transform: translate(0, 25px);
	}
}

.sectionTitle {
	text-align: center;
	margin: 0;
	margin-bottom: 16px;
	padding: 1rem;
	padding-top: 64px;
	letter-spacing: 0.15rem;
	font-size: clamp(48px, 10vw, 72px);
}

.bioSectionTitle {
	padding-top: 64px;
	margin-top: 24px;
	color: white;
}

.aboutText {
	font-size: 1rem;
	margin: 0 12px;
	margin-bottom: 48px;
	padding: 16px;
	background-color: rgba(247,247,240,255);
	// border-radius: 10px;
	max-width: 752px;
}

.projectsWrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

@media (min-width: 375px) {
	.bioSectionTitle {
		// margin-top: -56px;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.titleWrapper {
		padding-bottom: 16px;
	}
	.title {
		font-size: 5rem;
	}
	.subTitle {
		font-size: 1.3rem;
	}
	.sectionTitle {
		padding-top: 110px;
	}
	.bioSectionTitle {
		padding-top: 0px;
	}
	.seeMoreWrapper {
		margin: 48px 0;
	}
	.aboutText {
		padding: 24px;
		font-size: 1.5rem;
		margin: 0 auto;
	}
}

@media (min-width: 880px) {
	.iframeContainer {
		display: none;
	}
	.iframeResponsive {
		display: none;
	}
	.iframeDesktop {
		display: block;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.title {
		font-size: 6rem;
	}
	// .sectionTitle {
	// 	font-size: 3.5rem;
	// }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	// .info {
	// 	margin-top: -15%;
	// }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
	// .info {
	// 	margin-top: -20%;
	// }
}
@media (min-width: 1700px) {
	// .info {
	// 	margin-top: -25%;
	// }
}
