.page {
	min-height: 100vh;
}

.pageTitle {
	font-size: clamp(36px, 10vw, 6rem);
	text-align: center;
	padding-top: 25%;
	margin-bottom: 32px;
	opacity: 1 !important;
}

.projectsContainer {
	padding-top: 56px;
	margin: 24px auto;
	margin-bottom: 70px;
	display: flex;
	max-width: 1000px;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.projectWrapper {
	width: 250px;
	background-color: inherit;
	min-height: 250px;
	border-radius: 20px;
	margin-bottom: 32px;
	font-size: 20px;
}

.thumbnail {
	margin: auto;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 5px solid rgba(247,247,240,255);
	cursor: pointer;
	
}

.projectTitle {
	text-align: center;
	color: inherit;
	cursor: pointer;
	span{
		padding: 8px 16px;
		background-color: rgba(247,247,240,255);
		border-radius: 5px;
	}
}

.projectLink {
	color: black;
	text-decoration: none;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.pageTitle {
		padding-top: 10%;
	}
	.projectWrapper {
		width: 350px;
		background-color: inherit;
		min-height: 350px;
		border-radius: 20px;
		margin-bottom: 32px;
		font-size: 20px;
	}

	.thumbnail {
		margin: auto;
		width: 350px;
		height: 350px;
		border-radius: 50%;
		cursor: pointer;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.pageTitle {
		padding-top: 92px;
	}
	.projectWrapper {
		width: 400px;
		background-color: inherit;
		min-height: 400px;
		border-radius: 20px;
		margin-bottom: 32px;
		font-size: 24px;
	}
}
