.component {
	position: fixed;
	top: 0;
	background-color: transparent;
	width: 100vw;
	z-index: 501;
	overflow: hidden;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.imgContainer {
	position: relative;
	padding: 13px;
	width: 75px;
	height: 75px;
	cursor: pointer;
}

.imgContainer:hover .img {
	opacity: 0.7;
}

.img {
	border: 2px solid white;
	border-radius: 50%;
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.imgContainer:hover .middle {
	opacity: 1;
	border-radius: 50%;
}

.text {
	background-color: transparent;
	color: white;
	font-size: 32px;
	border-radius: 50%;
}

.navSlider {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 70vw;
	z-index: 1000;
	background-color: rgb(145, 145, 145);
	margin-right: -70vw;
	border-left: 3px solid white;
}
.navOpen {
	margin-right: 0;
	animation: slideIn 0.5s ease;
}

@keyframes slideIn {
	from {
		margin-right: -70vw;
	}

	to {
		margin-right: 0;
	}
}

.navLinks {
	margin-top: 80px;
	margin-left: 24px;
	font-size: 24px;
}

.listItem {
	margin-bottom: 8px;
}

.navLink {
	text-decoration: none;
	color: white;
}

.navLabelWrapper {
	margin: 0;
	margin-top: 8px;
	margin-left: 24px;
}
.navLabel {
	font-size: 20px;
	padding: 4px;
	border: 2px solid white;
}

.activeLink {
	text-decoration: underline;
}

// hamburger
.hamburger {
	z-index: 1001;
	margin-right: 1rem;
	margin-top: 1rem;
	position: relative;
	height: 44px;
	width: 44px;
	background-color: transparent;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.hamburger:before {
	content: "";
	position: absolute;
	height: 52px;
	width: 52px;
	border: 5px solid transparent;
	top: calc(50% - 27px);
	left: calc(50% - 26px);
	border-radius: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.hamburger.isActive:before {
	border: 5px solid rgb(255, 255, 255);
}
.hamburger.isActive .hamburgerLine {
	width: 30px;
}

.hamburgerLine {
	width: 44px;
	height: 4px;
	background-color: rgb(255, 255, 255);
	display: block;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.isActive {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.hamburger.isActive .hamburgerLine:nth-child(2) {
	opacity: 0;
}

.hamburger.isActive .hamburgerLine:nth-child(1) {
	-webkit-transform: translateY(11px);
	-ms-transform: translateY(11px);
	-o-transform: translateY(11px);
	transform: translateY(11px);
}

.hamburger.isActive .hamburgerLine:nth-child(3) {
	-webkit-transform: translateY(-13px) rotate(90deg);
	-ms-transform: translateY(-13px) rotate(90deg);
	-o-transform: translateY(-13px) rotate(90deg);
	transform: translateY(-13px) rotate(90deg);
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.imgContainer {
		padding: 18px;
		width: 100px;
		height: 100px;
	}

	.navLinks{
		font-size: 32px;
	}

	.hamburger {
		margin-right: 1rem;
		margin-top: 1rem;
		position: relative;
		height: 60px;
		width: 60px;
	}
	.hamburger:before {
		position: absolute;
		height: 65px;
		width: 65px;
		top: calc(50% - 31px);
		left: calc(50% - 33px);
	}
	.hamburger.isActive .hamburgerLine {
		width: 40px;
	}
	.hamburgerLine {
		width: 60px;
		height: 6px;
		background-color: rgb(255, 255, 255);
		display: block;
		margin: 12px auto;
	}
	.hamburger.isActive .hamburgerLine:nth-child(1) {
		-webkit-transform: translateY(17px);
		-ms-transform: translateY(17px);
		-o-transform: translateY(17px);
		transform: translateY(17px);
	}

	.hamburger.isActive .hamburgerLine:nth-child(3) {
		-webkit-transform: translateY(-18px) rotate(90deg);
		-ms-transform: translateY(-18px) rotate(90deg);
		-o-transform: translateY(-18px) rotate(90deg);
		transform: translateY(-18px) rotate(90deg);
	}
	.navSlider {
		position: fixed;
		right: 0;
		top: 0;
		height: 100vh;
		width: 40vw;
		z-index: 1000;
		margin-right: -40vw;
	}
	.navOpen {
		margin-right: 0;
		animation: slideIn 0.5s ease;
	}

	@keyframes slideIn {
		from {
			margin-right: -40vw;
		}

		to {
			margin-right: 0;
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.imgContainer {
		padding: 18px;
		width: 120px;
		height: 120px;
	}
	.hamburger {
		margin-top: 1.5rem;
	}
	.navSlider {
		position: fixed;
		right: 0;
		top: 0;
		height: 100vh;
		width: 30vw;
		z-index: 1000;
		margin-right: -30vw;
	}
	.navOpen {
		margin-right: 0;
		animation: slideIn 0.5s ease;
	}

	@keyframes slideIn {
		from {
			margin-right: -30vw;
		}

		to {
			margin-right: 0;
		}
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
