.component{
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100vw;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.imgContainer{
    padding: 1rem;
    width: 100px;
    height: 100px;
    
}

.img {
    width: 100%;
    border-radius: 50%;
}